.table-of-users,
.new-user-data,
.inputs,
.filter,
.modal-window,
.control-panel,
.user-detailed,
.info-of-user,
.photo-of-user,
.posts {
    display: flex;
}

h1,
h3 {
    color: rgb(70, 69, 69);
}

.icon {
    height: 48px;
    width: 48px;
}

.table-of-users button {
    height: 30px;
    width: 80px;
}

.table-name {
    text-align: center;
    font-family: sans-serif;
}

.table-of-users {
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    font-family: sans-serif;
    font-size: larger;
}

.title {
    font-weight: bold;
}

.inputs {
    flex-direction: column;
    flex-wrap: wrap;
}

.filter,
.new-user-data {
    gap: 10px;
    margin: 10px;
}

.inputs,
.table-of-users table,
.user-detailed,
.posts {
    margin-bottom: 20px;
}

.new-user-data {
    flex-direction: column;
    align-items: center;

}

table.sorted-table {
    border-collapse: collapse;
}

.sorted-table thead tr {
    background-color: rgb(0, 255, 76);
}

.sorted-table tbody tr:nth-child(2n) {
    background-color: #F0F0F0;
}

/* table.sorted-table tbody tr:hover {
    background-color: rgb(4, 158, 50);
    color: white;
} */

table.sorted-table tbody tr:hover {
    background-color: rgba(94, 255, 0, 0.808);
    color: blue;
}

.sorted-table th,
.sorted-table td {
    border: 1px solid black;
    padding: 10px;
}

.sort::after {
    content: '▲';
}

.sort.desc::after {
    content: '▼';
}

.table-of-users table tbody .editable {
    background-color: rgb(0, 255, 76);
    color: white;
}

.user-detailed {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border: solid black 1px;
    padding: 10px;
}

.info-of-user {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.user-photo {
    width: 200px;
}

.posts {
    flex-direction: column;
    gap: 10px;
}

.posts>div {
    border: solid black 1px;
    padding: 10px;
}

.posts p {
    text-align: left;
}